@import 'materialize-css/dist/css/materialize.min.css';

main {
  min-height: calc(100vh - 64px - 200px);
  padding: 20px 0;
}

.banner {
  margin-bottom: 2rem;
}

.card .price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2196f3;
}

.section {
  padding: 2rem 0;
}

.carousel-slider {
  height: 400px !important;
}

.carousel-item {
  background-color: #2196f3;
  color: white;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}